.board {
  display: grid;
  grid-gap: 1px;
  cursor: pointer;
  grid-template-columns: repeat(auto-fill, minmax(20px, max-content));

  &__controls {
    position: fixed;
    bottom: 0;
    left: 0;
  }
}
