.brush-hud {
  &__loading {
    color: white;
    font-style: italic;
  }
}

.brush-option {
  color: white;
  cursor: pointer;
  padding: 12px;

  &:last-of-type {
    margin-bottom: 0;
  }

  &__canvas {
    margin-bottom: 6px;
  }

  &__title {
    font-size: 16px;
  }
  &--selected,
  &:hover {
    background-color: #121418;
  }
}
