:root {
  --button-primary-color: #fff;
  --button-primary-bgcolor: #ff1e56;;
  --button-hover-color: #bd1c4e;;
}

.button {
  font-family: monospace;
  font-weight: 900;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  padding: 5px 12px;
  outline: none;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  background-color: var(--button-primary-bgcolor);
  color: var(--button-primary-color);
  border: none;
  position: relative;
  vertical-align: middle;
  overflow: hidden;
  z-index: 0;
  transition: .2s linear;

  margin-bottom: 8px;

  &:hover, &:focus, &:active {
    background-color: var(--button-hover-color);
    cursor: pointer;
  }

  &--desktop {
    display: none;
  }

  &--disabled {
    pointer-events: none;
    user-select: none;
    cursor: default;
    opacity: 0.5;
  }

  &__shortcut {
    display: none;
  }

  .shift {
    font-family: sans-serif;
  }

  @media only screen and (min-width: 1000px) {
    margin-bottom: 0;

    &--desktop {
      display: block;
    }

    &--mobile {
      display: none;
    }

    &__shortcut {
      display: inline;
    }
  }

}
