.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  user-select: none;
  cursor: pointer;
  background-color: #393e46;
  color: white;
  font-size: 7px;

  &--1 {
    background-color: #00adb5;
  }
}
