.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  grid-row: 1;
  user-select: none;
  cursor: pointer;
  background-color: #393e46;

  &--1 {
    background-color: #00adb5;
  }
}
