.controls {
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 8px;
  background-color: rgba(34, 40, 49, 0.5);
  flex-wrap: wrap;

  &__repo {
    margin-left: auto;
    display: none;
  }

  @media only screen and (min-width: 1000px) {
    &__repo {
      display: block;
    }
  }

  &__hint {
    margin-right: 12px;
    color: white;
    display: none;
  }
  @media only screen and (min-width: 1000px) {
    &__hint {
      display: block;
    }
  }
  .button {
    margin-right: 12px;
  }
}

.select {
  font-family: monospace;
  font-size: 20px;
  margin: 12px 0px;

  @media only screen and (min-width: 1000px) {
    margin: 0 12px 0 0;
  }
}
